.card-list {
  margin: 73px auto 0;
  display: grid;
  max-width: 1140px;
  column-gap: 30px;
  row-gap: 56px;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 360px);
  padding-left: 30px;
  padding-right: 30px;
}

@media (max-width: 1023.98px) {
  .card-list {

    grid-template-columns: repeat(auto-fit, 339px);
    row-gap: 43px;
  }
}

@media (max-width: 767.98px) {
  .card-list {
    grid-template-columns: repeat(auto-fit, minmax(300px, 370px));
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 44px;
    row-gap: 36px;
  }
}