.button-submit {
  border-radius: 3px;
  background: #4285f4;
  min-height: 45px;
  color: #fff;
  text-align: center;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 71px;
  border: none;
  transition: opacity 0.5s;
  cursor: pointer;
}

@media (max-width: 767.98px) {
  .button-submit {
    margin-top: 157px;
    font-size: 12px;
  }
}

.button-submit_disabled {
  background: #F8F8F8;
  color: #C2C2C2;
}

.button-submit_disabled:disabled {
  pointer-events: none;
}

.button-submit:hover {
  opacity: 0.8;
}

.button-submit_type_profile {
  align-self: normal;
  margin-top: 184px;
}

@media (max-width: 767.98px) {
  .button-submit_type_profile {
    margin-top: 345px;
  }
}