.no-result {
  color: #8b8b8b;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  display: block;
  text-align: center;
}

@media (max-width: 767.98px) {
  .no-result {
    font-size: 18px;
  }
}
