.login__container {
  height: 266px;
  display: flex;
  flex-direction: column;
  gap: 19px;
  position: relative;
}

.login__error {
  position: absolute;
  color: #ff004c;
  text-align: center;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  top: 304px;
  width: 396px;
}

@media (max-width: 767.98px) {
  .login__error {
    width: 260px;
    top: 390px;
  }
}